<script setup lang="ts">
import { computed } from "vue";
import { useAchievements } from '../store/achievements';

const { achievements } = useAchievements();
const unlocked = computed(() => achievements.value.filter((a) => a.unlocked));
</script>

<template>
  <div>
    <h2 class="text-2xl">Achievements</h2>
    <hr class="my-2"/>
    <ul>
      <template v-for="achievement in unlocked" :key="achievement.name">
        <li :title="achievement.description">
          {{ achievement.name }}
        </li>
      </template>
      <template v-if="!unlocked.length">
        No achievements unlocked yet..
      </template>
    </ul>
  </div>
</template>
