<script setup lang="ts">
import Viewport from './Vieport.vue';
import Shop from './Shop.vue';
import Stats from './Stats.vue';
import Achievements from './Achievements.vue';
import {useTicker} from "../composables/ticker";
import {useDivotion} from "../store/divotion";

const { tick } = useDivotion();
useTicker(tick);
</script>

<template>
  <div class="h-screen overflow-hidden flex">
    <div class="w-6/12">
      <Viewport />
    </div>
    <div class="w-6/12">
      <Shop class="p-8 pb-0" />
      <Stats class="p-8 pb-0"/>
      <Achievements class="p-8" />
    </div>
  </div>
</template>
