<script setup lang="ts">
import { Notification } from '../store/notifications';

interface Props {
  title: Notification['title'],
  content: Notification['content'],
}

interface Emits {
  (event: 'close'): void;
}

const props = defineProps<Props>();
const emit = defineEmits<Emits>();
</script>

<template>
  <div class="flex mb-2 rounded shadow bg-white dark:bg-gray-800">
    <button class="p-4" @click="emit('close')">X</button>
    <div class="flex flex-col pr-4 py-3">
      <b>{{ props.title }}</b>
      <div>{{ props.content }}</div>
    </div>
  </div>
</template>
