<script setup lang="ts">
import Notification from './Notification.vue';
import { useNotifications } from "../store/notifications";

const { notifications, close } = useNotifications();
</script>

<template>
  <div class="fixed right-0 bottom-0 left-0 flex flex-col items-end py-2 px-8">
    <template v-for="notification in notifications" :key="notification.title">
      <Notification v-bind="notification" @close="close(notification)" />
    </template>
  </div>
</template>
