<script setup lang="ts">
import { useShop } from "../store/shop";
const { inventory, buy, sell } = useShop();
</script>

<template>
  <div>
    <h2 class="text-2xl">Store</h2>
    <hr class="my-2"/>
    <template v-for="item in inventory" :key="item.worker.name">
      <div class="flex items-center hover:bg-white/5 transition-all">
        <div class="flex flex-col flex-grow px-2 py-4">
          <div>{{ item.worker.name }}</div>
        </div>

        <div class="flex items-center px-2 py-4">
          <button class="text-xl px-2" @click="() => buy(item)" :title="`buy for ${item.price}`">+</button>
          <span class="px-2">{{ item.owned }}</span>
          <button class="text-xl px-2" :title="`sell for ${item.price}`">-</button>
        </div>
      </div>
    </template>
  </div>
</template>
