<script setup lang="ts">
import { format } from '../util/number';
</script>

<template>
  <div>
    <h2 class="text-2xl">Stats</h2>
    <hr class="my-2"/>
    <ul>
      <li>Divotion (in bank): {{ format(0, 0) }}</li>
      <li>Divotion (all time): {{ format(0, 0) }}</li>
      <li>Divotion per second: {{ format(0) }}</li>
      <li>Divotion per click: {{ format(0) }}</li>
    </ul>
  </div>
</template>