<script setup lang="ts">
import { format } from '../util/number';
import { useDivotion } from "../store/divotion";

const { click, divotion, divotionPerSecond } = useDivotion();
</script>

<template>
  <div class="flex flex-col h-screen justify-center items-center">
    <div class="p-8 text-center">
      <div class="text-4xl">{{ format(divotion, 0) }} Divotion</div>
      <div class="text-xl">{{ format(divotionPerSecond) }}/s</div>
    </div>
    <div class="p-8">
      <button @click="click" class="hover:scale-110 active:scale-105 transition-all">
        <svg
            height="250"
            viewBox="0 0 175.333 175.333"
            width="250"
            xmlns="http://www.w3.org/2000/svg"
            aria-label="Divotion company logo"
            class="logo"
        >
          <title>Divotion logo</title>
          <desc>Divotion company logo</desc>
          <path d="m54.575 60.164-35.204 97.747 20.061-3.537 28.272-78.518z" fill="#00bce4"></path>
          <path d="m149.208 116.865-20.111 3.678-62.403 11.003-7.009 19.257 82.584-14.562 20.214-3.564z" fill="#5d6c77"></path>
          <path d="m69.074 21.355-7.113 19.54 53.998 63.964 20.214-3.565z" fill="#2dc84d"></path></svg>
      </button>
    </div>
  </div>
</template>
